/*Encabezado*/
.header{
    text-align: center;
    background-color: #E5E5E5;
}
h1{
    letter-spacing: 15px;
    text-transform: uppercase;
    background-color: #C4C4C4;
    color: #005677;
}
/*Main*/
h2{
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: #C4C4C4;
    color: #005677;
}
.contenido{
    width: 70%;
    margin: 0 auto;
}
span{
    font-weight: bold;
}
dt{
    font-weight: bold;
}
/*Footer*/
.pie{
    text-align: center;
    background-color:#005677;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}